<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="box">
    <h3><%= @question %></h3>
    <h4>- <i>You</i></h4>
  </div>

  <div class="box answer">
    <h3><%= @answer %></h3>
    <h4>- <i>Coach</i></h4>
  </div>

  <%= link_to 'Ask another question', ask_path %>
</div>
