// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  margin: 20px;
}

.box {
  border-left: solid 10px lightgrey;
  padding-left: 20px;
  margin-bottom: 30px;
}

.answer {
  background-color: lightyellow;
}

